.dashboard {
    padding: 70px 20px;
    background-color: #f4f4f4;
  }
  
  .dashboard-container {
    max-width: 1100px;
    margin: auto;
  }
  
  .dashboard h1 {
    margin-bottom: 30px;
    color: #222;
  }
  
  /* Cards */
  .dash-card {
    background-color: #fff;
    border-radius: 14px;
    padding: 30px;
    margin-bottom: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  }
  
  .dash-card h2 {
    margin-bottom: 15px;
    color: #222;
  }
  
  /* Buttons */
  .dash-btn {
    margin-top: 15px;
    padding: 14px 26px;
    background-color: rgb(211, 6, 6);
    color: #fff;
    border: none;
    /* border-radius: 5px; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .dash-btn.secondary {
    background-color: #555;
  }
  
  .dash-btn.pay {
    background-color: #1e8e3e;
  }
  
  .dash-btn:hover {
    opacity: 0.9;
  }
  
  /* Address */
  .address-box {
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 6px;
    font-size: 0.9rem;
    white-space: pre-wrap;
  }
  
  /* Calculator */
  .dash-card input {
    width: 100%;
    max-width: 250px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .total {
    margin-top: 10px;
    font-size: 1.1rem;
  }
  
  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f7f7f7;
  }
  
  /* Info card */
  .dash-card.info {
    background-color: #fff6f6;
  }
  

  .logout {
    background: #0f172a;
  }
  
  .logout:hover {
    background: #020617;
  }
  


  /* Responsive */
  @media (max-width: 768px) {
    .dash-card {
      padding: 22px;
    }
  
    table {
      font-size: 0.9rem;
    }
  }
  