.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #eee;
    border-top: 4px solid rgb(211, 6, 6);
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  